
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="signup">
	<div class="signup-connect">
	  <h1 class="text-center">Sign in now</h1>
	  <p class="text-center">Requires a Google workspace or LinkedIn</p><hr>
	  <!-- <a class="btn btn-social btn-facebook" (click)="onClick('facebook')"><i class="fa fa-facebook"></i> Sign in with Facebook</a> -->
	  <!-- <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a> -->
	  <a (click)="onClick('google')" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a>
	  <a (click)="onClick('linkedIn')" class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i> Sign in with Linkedin</a>
	  <!-- <a (click)="onClick()" class="btn btn-social btn-google"><i class="fa fa-google"></i> Sign in with Google</a> -->
	<p>By logging in,you agree to our <span>terms of use</span> and <span>Privacy policy</span></p>
	</div>
  </div>
</body>
</html>