<div *ngIf="displaySelector">
    <div class="container">
        <h2>Display Selection</h2>
        <div class="table">
            <table class="styled-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Panel</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let section of sections">
                        <tr>
                          <td colspan="3" class="section-header">{{ section.title }}</td>
                        </tr>
                        <tr *ngFor="let panel of section.data; let i = index">
                          <td>{{ panel.name }}</td>
                          <td>
                            <ng-container [ngSwitch]="panel.type">
                              <input *ngSwitchCase="'input'" type="text" class="input_width" [attr.maxlength]="panel.maxlength">
                              <span *ngSwitchCase="'static'">{{ panel.value }}</span>
                              <select *ngSwitchCase="'dropdown'">
                                <option *ngFor="let option of panel.options">{{ option }}</option>
                              </select>
                            </ng-container>
                          </td>
                          <td><input type="checkbox" class="custom-checkbox"></td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>                            
            </div>
      </div>
      <div class="mt-2" style="padding-left: 59%;">
        <button class="btn btn-primary" (click)="calculateTotal()">
            Evaluate
        </button>
    </div>   
<div class="container mt-4" *ngIf="showChart">
    <canvas id="myChart" width="250" height="250"></canvas>
</div>
</div>

<div *ngIf="isCalender">
  <div (onLoad)="getEvents()" class='container demo-app-main'>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <i class="event-title" [title]="arg.event.title">{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>

<!-- Dialog template -->
<ng-template #myDialog>
  <div class="d-flex align-items-center justify-content-between">
    <h4 mat-dialog-title class="mb-0">Event Information</h4>
    <mat-icon class="mat_cancel_icon" style="margin-right: 15px;color: red;" mat-dialog-close>cancel</mat-icon>
  </div>
  <hr class="mt-0" style="margin-bottom: -5px;">
  <mat-dialog-content class="d-flex align-items-center justify-content-center" style="width: 450px;">
    <div class="form-group" style="width: 100%;">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Event Name</mat-label>
        <input matInput #eventNameInput type="text" placeholder="Enter event name" required>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Event Url</mat-label>
        <input matInput #eventUrlInput type="text" placeholder="Enter event URL" required>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a date"
          (dateInput)="startDate = $event.target.value" required>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" placeholder="Choose a date"
          (dateInput)="endDate = $event.target.value" required>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="mat-buttons">
    <button mat-dialog-close="true" class="btn btn-success"
      [disabled]="!startDate || !endDate || !eventNameInput.value || !eventUrlInput.value"
      (click)="submitForm(eventNameInput.value, eventUrlInput.value, startDate, endDate)">Submit</button>
  </mat-dialog-actions>
</ng-template>

 