.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    padding: 5px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}

.table {
    padding-left: 25%;
}

.section-header {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    background-color: #ffa50040;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    /* text-align: center; */
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.input_width {
    width: 50px;
}

.custom-checkbox {
    width: 20px;
    height: 12px;
    transform: scale(1.5);
}

:host ::ng-deep .fc-button-group button.fc-prev-button.fc-button,
:host ::ng-deep .fc-button-group button.fc-next-button.fc-button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
}

:host ::ng-deep .fc-button-group button.fc-prev-button.fc-button .fc-icon {
    color: orange;
}

:host ::ng-deep .fc-button-group button.fc-next-button.fc-button .fc-icon {
    color: green;
    margin-right: 5px;
}

:host ::ng-deep .fc-button-group button.fc-button,
:host ::ng-deep .fc-createEventButton-button,
:host ::ng-deep .fc-EventType-button,
:host ::ng-deep .fc-today-button {
    background: #f4f4f4 !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    padding: 5px !important;
    font-size: 14px;
    height: 35px !important;
}

:host ::ng-deep .fc-today-button {
    background-color: #f4f4f4 !important;
    color: #000 !important;
    border: 1px solid #ddd !important;
    border-radius: 3px !important;
}

:host ::ng-deep .fc-day-today {
    /* Uncomment and customize if needed */
    background-color: #B7E5B4 !important;
}

.custom-calendar-container {
    width: 70% !important;
    height: 600px;
    margin-left: 27% !important;
}

.custom-calendar-container .fc {
    width: 100% !important;
    height: 100% !important;
}


.event-title {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: pointer;
}

@media (min-width: 1367px) {
    .custom-calendar-container {
        width: 70% !important;
        height: 612px;
        margin-left: 26% !important;
    }
}

@media (max-width: 1200px) {
    .container {
        margin-left: 13%;
    }
}

@media (min-width: 1201px) {
    .container {
        margin-left: 25%;
        width: 74%;
    }
}

@media (max-width: 767px) {
    .container {
        margin-left: 8%;
        width: 88%;
    }
}