.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    padding: 5px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}

.table {
    padding-left: 25%;
}

.section-header {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    background-color: #ffa50040;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    /* text-align: center; */
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.input_width {
    width: 50px;
}

.custom-checkbox {
    width: 20px;
    height: 12px;
    transform: scale(1.5);
}

:host ::ng-deep .fc-button-group button.fc-prev-button.fc-button,
:host ::ng-deep .fc-button-group button.fc-next-button.fc-button {
    background-color: transparent;
    border: none;
}

:host ::ng-deep .fc-button-group button.fc-prev-button.fc-button .fc-icon {
    color: orange;
}

:host ::ng-deep .fc-button-group button.fc-next-button.fc-button .fc-icon {
    color: green;
    border: none;
    margin-left: 1px;
}


:host ::ng-deep .fc-button-group button.fc-dayGridMonth-button.fc-button {
    background: #2c3e50;
    border: none;
    margin-left: 1px;
}

:host ::ng-deep .fc-button-group button.fc-timeGridWeek-button.fc-button {
    background: #2c3e50;
    border: none;
    margin-left: 1px;
}

:host ::ng-deep .fc-button-group button.fc-timeGridDay-button.fc-button {
    background: #2c3e50;
    border: none;
    margin-left: 1px;
}

:host ::ng-deep .fc-button-group button.fc-listWeek-button.fc-button {
    background: #2c3e50;
    border: none;
    margin-left: 1px;
}

::ng-deep .fc-day-today {
    /* background-color: #b5f7e6 !important; */
}

.event-title {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        margin-left: 13%;
    }
}

@media (min-width: 1201px) {
    .container {
        margin-left: 25%;
        width: 74%;
    }
}

@media (max-width: 767px) {
    .container {
        margin-left: 8%;
        width: 88%;
    }
}