<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/engineer-count.png" class="img-fluid" alt=""/>
        </div>
        <div style="text-align: center;">
          <span data-purecounter-start="0" data-purecounter-end="1240" data-purecounter-duration="1" class="purecounter"></span>
          <p class="image-data">Engineers</p>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/si-count.png" class="img-fluid" alt="">
          </div>
          <div style="text-align: center;">
            <span data-purecounter-start="0" data-purecounter-end="1243" data-purecounter-duration="1" class="purecounter"></span>
            <p class="image-data">SI's</p>
           </div>
      </div>
      

      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/oem-count.png" class="img-fluid" alt="">
          </div>
          <div style="text-align: center;">
            <span data-purecounter-start="0" data-purecounter-end="1324" data-purecounter-duration="1" class="purecounter"></span>
            <p class="image-data">OEM</p>
           </div>
      </div>

      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/client-count.png" class="img-fluid" alt="">
          </div>
          <div style="text-align: center;">
            <span data-purecounter-start="0" data-purecounter-end="1250" data-purecounter-duration="1" class="purecounter"></span>
            <p class="image-data">Client</p>
           </div>
      </div>

      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/consultant-count.png" class="img-fluid" alt="">
          </div>
          <div style="text-align: center;">
            <span data-purecounter-start="0" data-purecounter-end="1250" data-purecounter-duration="1" class="purecounter"></span>
            <p class="image-data">Consultants</p>
           </div>
      </div>

      <div class="col-lg-2 col-md-4">
        <div class="count-box">
          <img src="assets/img/home-page/distributor.png" class="img-fluid" alt="">
        </div>
          <div style="text-align: center;">
            <span data-purecounter-start="0" data-purecounter-end="1230" data-purecounter-duration="1" class="purecounter"></span>
            <p class="image-data">Distributor</p>
           </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->