 <!-- ======= Clients Section ======= -->
 <section id="clients" class="clients">

  <div class="container" data-aos="fade-up">

    <h2 class="text-center mt-4 section_title">
     Our Sponsers
     </h2>

    <div class="clients-slider swiper" >
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide" *ngFor="let image of shuffledItems">
          <img [src]="image" class="img-fluid" alt="">
        </div> 
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</section><!-- End Clients Section -->