<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

<!-- ======= Values Section ======= -->
 <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <p>Our Values</p>
        <!-- <p>Odit est perspiciatis laborum et dicta</p> -->
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/home-page/diverse-Img.jpeg" class="img-fluid" alt="">
            <h3>Diverse Expertise</h3>
            <p class="text-center">Our community unites a diverse array of AV professionals, collaborating to exchange knowledge and pursue career opportunities tailored to their unique interests</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/home-page/Collaboration.png" class="img-fluid" alt="">
            <h3>Collaboration</h3>
            <p class="text-center">We believe in the power of collaboration. Through shared insights, experiences, and expertise, we amplify the impact of each individual within our community.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/home-page/continuous-Learning.png" class="img-fluid" alt="">
            <h3>Continuous Learning</h3>
            <p class="text-center">In the dynamic AV tech world, we foster continuous learning. Our community is a hub for staying informed, sharing insights, and staying ahead of industry trends.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->