.client_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 55px;
  }
  
  .client_section .box .img_container {
      width: auto;
      height: auto;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: transparent;
  }
  
  .client_section .box .img_container .img-box {
      width: auto;
      height: auto;
      border-radius: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #ffffff;
      margin-right: -1px;
  }
  
  .client_section .box .img_container .img-box .img_box-inner {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  
  .client_section .box .img_container .img-box .img_box-inner img {
    width: 100%;
  }
  
  .client_section .box .detail-box {
    margin-top: 25px;
  }
  
  .client_section .box .detail-box h5 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .client_section .box .detail-box h6 {
    font-size: 15px;
    color: #999998;
  }
  
  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    top: 43%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
    width: auto;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    opacity: 1;
    color: #ffffff;
    background-color: #f7444e;
    border-radius: 100%;
  }
  
  .client_section .carousel-control-prev:hover,
  .client_section .carousel-control-next:hover {
    background-color: #212121;
  }
  
  .client_section .carousel-control-prev {
    left: 25%;
  }
  
  .client_section .carousel-control-next {
    right: 25%;
  }