.arrow-circle {
  font-size: 24px;
  text-align: center;
}

.custom-images {
  max-height: 100px;
}

.filters {
  display: flex;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 54%;
  margin-left: 46%;
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top: 11px;
  color: #ced4da;
}