.counts {
  padding: 30px 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch; /* Ensure the whole row stretches */
}

.counts .row {
  display: flex;
  flex-wrap: wrap;
}

.counts .col-lg-3 {
  flex: 0 0 auto;
}

.counts .count-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  background: #fff;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  min-height: 250px; /* Set a minimum height for consistency */
  height: auto; /* Ensure boxes expand to fit content */
}

.tool-header {
  font-weight: 600;
  font-size: 18px !important;
  margin-top: 5px !important;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.counts .count-box img {
  max-width: 65%;
  max-height: 100px;
}

.count-p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}

.arrow-circle {
  font-size: 24px;
  text-align: center;
}

.custom-images {
  max-height: 100px;
}

@media (min-width: 1275px) {
  .counts {
    margin-left: 23%;
  }
}

@media (max-width: 1275px) {
  .counts {
    margin-left: 25%;
  }
}
