<!-- ======= Counts Section ======= -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>

  <div *ngIf="cards">
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="filters">
          <div class="input-group">
            <div class="input-box input-group">
              <input type="text" class="form-control input-sm" [(ngModel)]="searchTool" placeholder="Search by Tools Names..."/>
              <i class="fa fa-search"></i>
            </div>
          </div>
        </div>
        <div class="row gy-4 mt-1">
          <div class="col-lg-3 col-md-4" *ngFor="let tool of filteredTools()" (click)="onClick(tool.id)">
            <div class="count-box d-flex flex-column align-items-center">
              <img [src]="tool.imgSrc" class="img-fluid custom-images" alt="">
              <p class="tool-header">{{ tool.name }}</p>
              <p class="tool-description">{{ tool.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="filteredTools().length === 0">
        <div class="centered-image">
          <img src="assets/img/oops.png" alt="" class="img-fluid no-records" height="250px" />
        </div>
      </div>
    </section>
    
  </div>
  

  <div class="arrow_Container">
    <div class="arrow-Icon" (click)="onClick('cards')" *ngIf="!cards">
      <mat-icon>arrow_back</mat-icon>
    </div>
  </div>

  <div>
    <app-av-simulator *ngIf="isSimulator || isServiceReport" [toolType]="toolType"></app-av-simulator>
    <app-bussiness-card *ngIf="isBussinessCard"></app-bussiness-card>
    <app-reports *ngIf="isReports || isSpl || isMacFinder " [toolType]="toolType"></app-reports>
    <app-btu-calculator *ngIf="isBtuCalculator || ispowerCal || isCalender || isTradeshow || isAvrack" [toolType]="toolType"></app-btu-calculator>
    <app-ratio-tools *ngIf="isAspectratio || isdiagonalScreen || isthrowDistance" [toolType]="toolType"></app-ratio-tools>
    <app-display-selector *ngIf="displaySelector" [toolType]="toolType"></app-display-selector>
  </div>
  <app-spinner *ngIf="showSpinner"></app-spinner> 
</body>

</html>
