<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>

<body [ngClass]="{'custom-body': isBusinessCardStyles }">

<div>
  <div class="container" id="pdfContent" [ngClass]="{'custom-card-Container': isBusinessCardStyles, 'card-Container': !isBusinessCardStyles}">
      <qrcode [qrdata]="qrdata" [width]="125" [errorCorrectionLevel]="'M'"></qrcode>
      <div class="text-container">
        <div *ngIf="showErrorMsg" class="container">
          <div class="row" style="margin-left: -45px;">
            <div class="col-md-6 mt-2 mobile_img">
              <img src="./assets/img/av_logo_white.jpg" class="img-fluid emoji_img" alt="Sad face">
            </div>
            <div class="col-md-12 mt-3" style="margin-left: -5px;">
              <p>Please update your profile to generate a VC card</p>
            </div>           
          </div>
        </div>
        
        <p class="userName">{{ userName }}</p>
        <p class="designation">{{ designation }}</p>
        <p>{{ companyName }}</p>
      </div> 
    </div>
  
    <div class="card-buttons" *ngIf="!showErrorMsg">
      <a (click)="shareOnSocialMedia()" class="fa fa-share-alt"></a>
      <a (click)="downloadCard()" class="fa fa-download"></a>
    </div>
  
    <ng-template #myDialog>
      <mat-dialog-content>
        <mat-icon class="cancel_Icon" (click)="closePopup()">cancel_presentation</mat-icon>
        <div class="form-group">
          <mat-form-field style="width: 400px;">
            <input matInput [(ngModel)]="urlLink" readonly placeholder="Add Profile URL*">
            <button mat-icon-button matSuffix (click)="copyToClipboard()" matTooltip="copyLink">
              <mat-icon>content_copy</mat-icon>
            </button>
          </mat-form-field>      
          <div *ngIf="linkCopied" class="copied_link">Link copied!</div>      
        </div>
      </mat-dialog-content>
    </ng-template>
  </div>
  <app-spinner *ngIf="showSpinner"></app-spinner>
  </body>
</html>