table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
.input-date {
	margin-left: 63px;
}

.quotation {
	height: 68px;
    width: 100%; 
}

.input_length {
	width: 65px;
	border: 1px solid #ccc!important;
}

#pdfContent {
	overflow: hidden;
	height: auto;
  }

  /* td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
  } */

  th {
	background: #009879;
    color: white;
    padding: 5px;
	font-size: 14px;
}
  
.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.calculations {
	line-height: 15px;
}

.bottom_box {
  margin-top: -40px;
  margin-bottom: -15px;
  box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9; 
  padding: 10px;
}
  
  /* tr:nth-child(even) {
	background-color: #dddddd;
  } */

.fa-download {
  font-size: 24px;
  float: inline-end;
  color: green;
}


textarea {
	height: 35px;
	margin-top: 5px;
	width: 102px;
	border-color: #DDD;
}

.desc_textarea {
	width: 100%;
	max-height: 175px;
	min-height: 35px;
}

  @media only screen and (min-width: 768px) {
	.container {
        margin-left: 8%;
        /* border: 1px solid; */
        width: 88%;
    }

	.img-data {
		padding-left: 32%;
	}

  }
  
  @media only screen and (min-width: 992px) {
	.container {
	  width: 970px; /* You can adjust the width based on your design */
	}
  
	.img-data {
	  padding-left: 33%;
	}
  
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	.buttons {
		float: right;
	}
  
	th, td {
	  /* border: 1px solid #dddddd; */
	  text-align: left;
	  /* padding: 8px; */
	  max-width: 150px; /* Set a max-width for the table cells to prevent overflow */
	  white-space: nowrap; /* Prevent text wrapping in cells */
	  overflow: hidden;
	  text-overflow: ellipsis; /* Show ellipsis for overflowing content */
	}
  }
 
  .calcualtions {
  text-align: end;
    line-height: 14px;
    margin-top: 38px;
  }

  @media only screen and (min-width: 1200px) {
	.container {
        margin-left: 25%;
        /* border: 1px solid; */
        width: 74%;
    }

	.img-data {
	padding-left: 33%;
	}

	@media (max-width: 1200px) {
		.container {
			margin-left: 13%;
			/* border: 1px solid; */
		}
	}	

  }