table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.styled-table thead tr {
    color: black;
}

.macFinder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.th_value {
    font-weight: unset;
}

.text-cente {
    text-align: center;
}

input {
    width: 15%;
    height: 35px;
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 15px;
    color: #ced4da;

}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mac_Search {
    width: 275px;
    height: 47px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.mac_Search::placeholder {
    padding-left: 10px;
    opacity: 0.3;
}

.company_Name {
    margin-left: 22%;
    text-align: center;
    margin-top: 20px;
}

.tool-data {
    align-items: flex-start;
    box-shadow: none;
    margin-top: 5px;
    text-align: justify;
}

.result {
    margin-bottom: -20px;
}
