<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h3>Who We Are</h3>
          <h2>A Community for AV Enthusiasts and Innovators</h2>
          <p>
            Welcome to [Your AV Community Name], where passion meets innovation in the realm of audio-visual experiences. We are a dynamic community of enthusiasts, professionals, and creators united by our love for cutting-edge AV technologies and the art of immersive storytelling.
            <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At [Your AV Community Name], our mission is to foster a vibrant space for collaboration, learning, and celebration within the AV realm. Whether you're an industry expert, a budding creator, or an avid consumer, our community is your platform to connect, share, and elevate the world of audio-visual experiences.
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/home-page/about.jpeg" class="img-fluid custom_Image" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
