
 <!-- <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Services</h2>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <img src="assets/img/home-page/Community.png" class="img-fluid custom_Image" alt="">
            <h3>AV Community</h3>
            <p>Our vibrant AV community champions innovation and collaboration, uniting industry experts and enthusiasts to exchange knowledge, delve into cutting-edge technologies, and shape the future of audiovisual experiences.</p>
           </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <img src="assets/img/home-page/tools.png" class="img-fluid custom_Image" alt="">
            <h3>Tools</h3>
            <p>Enhance your productivity in the audiovisual industry with our cutting-edge AV Tools. Streamlining complex calculations and simulations, our solutions empower professionals to design and optimize setups with unparalleled precision and ease.</p>
           </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <img src="assets/img/home-page/Training.png" class="img-fluid custom_Image" alt="">
            <h3>Trainings</h3>
            <p>Unlock invaluable expertise with our AV training programs, empowering professionals in the audiovisual industry to stay ahead of emerging technologies, refine their skills, and navigate the dynamic landscape of AV solutions with confidence.</p>
            </div>
        </div>
      </div>

    </div>

  </section> -->


   <!-- ======= Services Section ======= -->
   <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Services</h2>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <img src="assets/img/home-page/Community.png" class="img-fluid custom_Image" alt="">
            <h3>AV Community</h3>
            <p>Our vibrant AV community champions innovation and collaboration, uniting industry experts and enthusiasts to exchange knowledge, delve into cutting-edge technologies, and shape the future of audiovisual experiences.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <img src="assets/img/home-page/tools.png" class="img-fluid custom_Image" alt="">
            <h3>Tools</h3>
            <p>Enhance your productivity in the audiovisual industry with our cutting-edge AV Tools. Streamlining complex calculations and simulations, our solutions empower professionals to design and optimize setups with unparalleled precision and ease.</p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <img src="assets/img/home-page/Training.png" class="img-fluid custom_Image" alt="">
            <h3>Trainings</h3>
            <p>Unlock invaluable expertise with our AV training programs, empowering professionals in the audiovisual industry to stay ahead of emerging technologies, refine their skills, and navigate the dynamic landscape of AV solutions with confidence.</p>
           </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-discuss-line icon"></i>
            <h3>Asperiores Commodi</h3>
            <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-discuss-line icon"></i>
            <h3>Velit Doloremque.</h3>
            <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-discuss-line icon"></i>
            <h3>Dolori Architecto</h3>
            <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div> -->

      </div>

    </div>

  </section><!-- End Services Section -->