.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.tool-data {
    box-shadow: none;
    margin-top: 5px;
    text-align: justify;
}

.card {
    border: none;
}

.cart1 {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    margin-right: 8px;
    width: 20%;
}


.cart2 {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    height: 275px;
    width: 79%;
}

.screen_dialog {
    height: 230px;
}

.form-inline .form-group {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    width: 100px;
    margin-right: 10px;
}

.result-section {
    margin-top: 20px;
}

.social-buttons button {
    margin: 5px;
}



@media (max-width: 1200px) {
    .container {
        margin-left: 13%;
    }

    .cart1 {
        width: 19%;
        height: 255px
    }

    .cart2 {
        height: 0;
    }
}

@media (min-width: 1201px) {
    .container {
        margin-left: 24%;
        /* border: 1px solid; */
        width: 74%;
    }
}

@media (max-width: 767px) {
    .container {
        margin-left: 8%;
        width: 88%;
    }
}