.container {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    border-radius: 20px;
}

.tool-data {
    box-shadow: none;
    margin-top: 5px;
    text-align: justify;
}

.card {
    border: none;
}

.form-inline .form-group {
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    width: 100px;
    margin-right: 10px;
}

.result-section {
    margin-top: 20px;
}

.card-body {
    padding-top: 0;
}

.tool-header {
    margin-bottom: 0;
}

.social-buttons button {
    margin: 5px;
}

.reset-icon {
    margin-right: 10px;
    color: orange;
    margin-bottom: 4px;
    cursor: pointer;
}