<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="images/favicon.png" type="">
   </head>
   <body>
      <div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand av_header" href="index.html"><img  class="av_header_img" width="100" src="./assets/img/av_logo.png" alt="#" />AV CHAMPS</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item">
                           <a class="nav-link" (click)="onLogin('ekartLogin')">AV Kart</a>
                        </li>
                    
                        <li class="nav-item">
                           <a class="nav-link" (click)="onLogin('community')">Community</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" routerLink="contactUs">Contact Us</a>
                        </li>
                       
                     </ul>
                  </div>
               </nav>
            </div>
         </header>