<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                   <!-- <a href="#"><img width="210" src="./assets/img/logo.png" alt="#" /></a> -->
                   <h3 class="menu_button">AV CHAMPS</h3>
                 </div>
                 <div class="information_f mt-2">
                    <p>We are a community for AV lovers to collaborate, learn, and celebrate. Join us to connect, share, and enhance your audio-visual skills and experiences.</p>
                 </div>
              </div>
          </div>
          <div class="col-md-4">
                <div class="widget_menu">
                   <h3 class="menu_button">Quick Links</h3>
                   <ul>
                    <li><a routerLink="cookie-policy">Cookie Policy</a></li>
                    <li><a routerLink="privacy-policy">Privacy policy</a></li>
                      <li><a routerLink="accept-policy">Acceptable Use Policy</a></li>                  
                      <li><a routerLink="platform-policy">Platform Policies</a></li>
                   </ul>
             </div>
          </div>
          <div class="col-md-4">
            <div class="widget_menu">
               <h3 class="menu_button">Social</h3>
               <div class="information_f">
                 <p>#AV Champs</p>
               </div>
               <div class="social-links mt-2">
                <ul class="wrapper">
                  <li class="icon twitter" (click)="socialLinks('twitter')">
                    <span class="tooltip">Twitter</span>
                    <span><i class="bi bi-twitter-x"></i></span>
                  </li>
                  <li class="icon facebook" (click)="socialLinks('faceBook')">
                    <span class="tooltip">Facebook</span>
                    <span><i class="bi bi-facebook"></i></span>
                  </li>
                   <li class="icon instagram" (click)="socialLinks('instagram')">
                    <span class="tooltip">Instagram</span>
                    <span><i class="bi bi-instagram"></i></span>
                  </li>
                  <li class="icon linkedin" (click)="socialLinks('linkedin')">
                    <span class="tooltip">LinkedIn</span>
                    <span><i class="bi bi-linkedin"></i></span>
                  </li>
                  <li class="icon youtube" (click)="socialLinks('youtube')">
                    <span class="tooltip">Youtube</span>
                    <span><i class="bi bi-youtube"></i></span>
                  </li>  
                </ul>
              </div>
            </div>
         </div>
       </div>
    </div>
 </footer>
 <div class="text-center">
  <p class="mb-0">©2024, AV CHAMPS, All rights reserved,Designed by <a href="https://www.linkedin.com/in/disendra-yadav-b6b1a9220/" target="_blank">Disendra</a></p>
  <!-- <p class="designed">Designed by&nbsp;<a href="https://www.linkedin.com/in/disendra-yadav-b6b1a9220/">Disendra</a></p> -->
  </div>
 </body>
</html>