<!DOCTYPE html>
<html>
 <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 </head>
 <body>
   <app-header></app-header>
   <div id="outerContainer" style="overflow-x: hidden;">
    <div class="pdf-container" *ngIf="!pdfLoaded" style="overflow-x: hidden;">
      <app-spinner></app-spinner>
    </div>
    <div class="pdf-container" *ngIf="pdfLoaded" style="overflow-x: hidden;">
      <pdf-viewer
        [src]="filePath"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="false"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        style="width: 100vw; height: calc(100vh - 100px);"
      ></pdf-viewer>
    </div>
  </div>
      
</body>
</html>