html,
body {
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.counts {
    /* padding: 0px 0 60px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    /* Ensure the whole row stretches */
}

.counts .row {
    display: flex;
    flex-wrap: wrap;
}

.table {
    margin-top: -15px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 75%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.cart1 {
    border-right: 1px solid;
    margin-right: 8px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cart2 {
    height: auto;
    width: 79%;
    padding: 18px;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.counts .col-lg-3 {
    /* flex: 0 0 auto; */
    flex: 1 1 200px;
    /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 200px */
}

.counts .count-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    min-height: 210px;
    min-width: 210px;
}

.tool-header {
    font-weight: 600;
    font-size: 18px !important;
    margin-top: 5px !important;
    text-align: center;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.counts .count-box img {
    max-width: 65%;
    max-height: 100px;
}

::placeholder {
    opacity: 0.7;
}

.count-p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.contactUs_click {
    color: royalblue !important;
    text-decoration: underline;
    margin-left: 5px;
}

@media (min-width: 1275px) {
    .counts {
        margin-left: 24%;
    }
}

@media (max-width: 1275px) {
    .counts {
        margin-left: 25%;
    }
}

@media (min-width: 1374px) {
    .counts {
        margin-left: 21%;
    }
}

@media (min-width: 1464px) {
    .counts {
        margin-left: 20%;
    }
}

.av_header {
    font-size: 22px !important;
    font-weight: bold;
}

.av_header_img {
    border-radius: 79px;
    padding: 8px;
    height: 120px;
    width: 120px;
    margin-top: -35px;
    margin-right: -30px !important;
    margin-bottom: -30px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.tool-header {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.no-records {
    width: 450px;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section_title {
    font-size: 25px;
}

.popup-msg {
    white-space: nowrap;
    color: black;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}


h3 {
    font-weight: 500 !important;
}

a {
    cursor: pointer;
}

.oops_error {
    font-weight: 500;
    margin-bottom: 0px !important;
    color: black;
}

.cancel_Icon {
    color: red;
    margin-left: 120%;
}

.text_underline {
    text-decoration: underline !important;
}

.remove_Icon {
    color: red;
}

.add_symbol {
    margin-top: 10px;
}

.add_Icon {
    color: green;
    margin-top: 6px !important
}

.error_msg {
    color: indianred;
}

.success_msg {
    color: green;
}

.error_header {
    color: black;
    font-weight: 500;
}


.arrow_Container {
    display: flex;
    padding-left: 25%;
    margin-top: 5px;
}

.formula_bottom {
    margin-bottom: 10px;
}

.arrow-Icon {
    color: white;
    cursor: pointer;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 50%;
    display: flex;
    color: black;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
    /* background: black; */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bi-box-arrow-right {
    color: red;
    margin-right: 5px;
}

.bi-file-text {
    color: blue;
    margin-right: 5px;
}

.bi-question-circle {
    color: green;
    margin-right: 5px;
}


::placeholder {
    opacity: 0.3;
}

.button_left {
    margin-left: 10px;
}